<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>make</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input formControlName="age" type="number" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Size</ion-label>
        <ion-input formControlName="size" type="number" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Weight</ion-label>
        <ion-input formControlName="weight" type="number" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Create</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
