<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>listFight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <swiper #swiper [config]="config">
    <ng-template *ngFor = "let user of usersArray" swiperSlide>
      <ion-card>
        <img [src]="user.photo" />
        <ion-card-header>
          <ion-card-subtitle>Nombre</ion-card-subtitle>
          <ion-card-title>{{ user.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div style="text-align: center;">
            <ion-button size="medium" style="width: 30%;" color="danger" (click)="delete(item)">
              <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
            </ion-button>
            <ion-button size="medium" style="width: 30%;" color="success" (click)="complete(item)" [routerLink]="['/fight/', user.$key]">
              <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </swiper>
  <!-- <ion-list>
      <ion-list-header>
            List Fight Users
      </ion-list-header>
      <ion-item-sliding *ngFor = "let user of usersArray">
        <ion-item>
          <ion-label>
            <h2>{{ user.name }}</h2>
            <p>{{ user.size }}</p><p>{{ user.weight }}</p>
        </ion-label>
        </ion-item>

        <ion-item-options>
          <ion-button color="danger" size="large" shape="round" [routerLink]="['/fight/', user.$key]">
            <ion-icon name="skull-outline"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list> -->
</ion-content>
